In [18]:
# Import relevant libraries
import pandas as pd

### Import, inspect and clean 7th dataset: 'Congestion_Factor'

In [20]:
# Import 'Congestion_Factor' dataset into a DataFrame
congestion_fctr_df = pd.read_csv('../raw_datasets/Congestion Factor dataset.csv')

In [21]:
congestion_fctr_df

   Unnamed: 0.1        Unnamed: 0  Peak time  Non-peak
0             0  Electric vehicle        1.5         1
1             1        Petrol car        1.5         1
2             2               Bus        1.3         1
3             3             Train        1.1         1

### Notes on Cleaning
### 1. I'll re-import the dataset, rename the 'Vehicle Type' field, and drop the extra index column.

In [23]:
#-Re-import the 'Congestion_Factor' dataset into a DataFrame
congstn_factor_df = pd.read_csv('../raw_datasets/Congestion Factor dataset.csv', header=0,
                               names=(['Unnamed: 0.1', 'Vehicle Type', 'Peak time', 'Non-peak']))

In [24]:
congstn_factor_df

   Unnamed: 0.1      Vehicle Type  Peak time  Non-peak
0             0  Electric vehicle        1.5         1
1             1        Petrol car        1.5         1
2             2               Bus        1.3         1
3             3             Train        1.1         1

In [8]:
# Drop the extra index column
congstn_factor_df.drop(columns=['Unnamed: 0.1'], inplace=True)
# Verify it has been dropped
congstn_factor_df

       Vehicle Type  Peak time  Non-peak
0  Electric vehicle        1.5         1
1        Petrol car        1.5         1
2               Bus        1.3         1
3             Train        1.1         1

In [ ]:
# Write the cleaned dataset into a CSV file
congstn_factor_df.to_csv('../cleaned_datasets/Congestion Factor.csv', index=False)