In [1]:
# Import relevant libraries
import pandas as pd

### Import, inspect and clean 5th dataset: 'Eco-Consciousness'

In [3]:
# Load Eco-Consciousness dataset into a DataFrame
eco_df = pd.read_csv('../raw_datasets/Eco-Consciousness dataset.csv')

In [4]:
eco_df.head()

   Unnamed: 0  Age  Eco_Consciousness
0           0   18                  9
1           1   19                  9
2           2   20                  8
3           3   21                  8
4           4   22                  8

In [5]:
# Drop the extra index column 
eco_df.drop(columns=(['Unnamed: 0']), inplace=True)

In [6]:
# Verify it's dropped 
eco_df.head(10)

   Age  Eco_Consciousness
0   18                  9
1   19                  9
2   20                  8
3   21                  8
4   22                  8
5   23                  8
6   24                  8
7   25                  8
8   26                  8
9   27                  8

In [12]:
# Write Cleaned Dataset to CSV file
eco_df.to_csv('../cleaned_datasets/Eco-Consciousness.csv', index=False)