In [1]:
# Imoort relevant libraries
import pandas as pd


## Import, inspect and clean 4th dataset: 'Emissions'

In [3]:
# Load 'Emissons' dataset into a DataFrame
emissions_df = pd.read_csv('../raw_datasets/Emissions dataset.csv')

In [4]:
emissions_df

   Unnamed: 0           Mode of Transport  Emissions per Mile (g CO₂/mile)
0           0                       Train                               57
1           1                         Bus                               44
2           2  Electric Car (Car Sharing)                               44
3           3  Electric Car (Solo Travel)                               88
4           4    Petrol Car (Car Sharing)                              134
5           5    Petrol Car (Solo Travel)                              268
6           6                     Walking                                0

In [5]:
# Re-import 'Emissions' file to shorten label for third column
emissions_DF = pd.read_csv('../raw_datasets/Emissions dataset.csv', 
                           header=0,
                           names=(['Unnamed','Mode of Transport', 'CO₂/mile'])
                        )

In [6]:
emissions_DF

   Unnamed           Mode of Transport  CO₂/mile
0        0                       Train        57
1        1                         Bus        44
2        2  Electric Car (Car Sharing)        44
3        3  Electric Car (Solo Travel)        88
4        4    Petrol Car (Car Sharing)       134
5        5    Petrol Car (Solo Travel)       268
6        6                     Walking         0

In [7]:
# Drop extra index column
emissions_DF.drop(columns=['Unnamed'], inplace=True)

In [8]:
emissions_DF

            Mode of Transport  CO₂/mile
0                       Train        57
1                         Bus        44
2  Electric Car (Car Sharing)        44
3  Electric Car (Solo Travel)        88
4    Petrol Car (Car Sharing)       134
5    Petrol Car (Solo Travel)       268
6                     Walking         0

In [9]:
# Write cleaned dataset to a csv file
emissions_DF.to_csv('../cleaned_datasets/Emissions.csv', index=False)