In [1]:
import pandas as pd

In [2]:
import os 
print(os.getcwd())

C:\Users\chebe\Downloads\digdata-emissions-undone\notebooks\Cleaning

### Import, inspect, and clean **the 3rd dataset: 'Extra Costs'**

In [4]:
# Import 'Extra Costs' dataset into a DataFrame
x_costs_df = pd.read_csv('../raw_datasets/Extra_Cost_dataset.csv')

In [5]:
# Inspect components of the 'x_costs_df'
x_costs_df.info()
x_costs_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  5 non-null      int64
 1   Unnamed: 0    3 non-null      object
 2   Unnamed: 1    3 non-null      object
 3   Unnamed: 2    3 non-null      object
 4   Unnamed: 3    3 non-null      object
 5   Unnamed: 4    3 non-null      object
 6   Unnamed: 5    3 non-null      object
dtypes: int64(1), object(6)
memory usage: 412.0+ bytes

,Unnamed: 0.1,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mode of Transport,Parking Fee,,Electric Charging Fee per mile,,Petrol Fee per mile
3,3,Electric Car,£0,Electric Car,£0.06,Electric Car,£0
4,4,Petrol Car,£20,Petrol Car,£0,Petrol Car,£0.04

## NOTES
#### 1. Whoaa! This one needs some good cleaning.
#### 2. The header row is inappropriately positioned.
#### 3. The problem with an additional index column persists.
#### 4. Some columns have been repeated irrelevantly: specifically 'Mode of Transport.'
#### 5. One instance of the 'Mode of Transport' column is enough. The others should be dropped.

In [6]:
# Re-import 'Extra Costs' dataset to fix organization
x_costs_df = pd.read_csv('../raw_datasets/Extra_Cost_dataset.csv',
                         skiprows=3, header=0, names=(['addtnl index_col', 'Mode of Transport', 'Parking Fee', 'MoT1',
                                                       'Electric Charging Fee Per Mile', 'MoT2', 'Petrol Fee per mile']))
# Verify changes
x_costs_df

,addtnl index_col,Mode of Transport,Parking Fee,MoT1,Electric Charging Fee Per Mile,MoT2,Petrol Fee per mile
0,3,Electric Car,£0,Electric Car,£0.06,Electric Car,£0
1,4,Petrol Car,£20,Petrol Car,£0,Petrol Car,£0.04

In [7]:
# Drop additional index column; the repetitions of the 'Mode of Transport' field
x_costs_df.drop(columns=['addtnl index_col', 'MoT1', 'MoT2'], inplace=True)
# Verify changes
x_costs_df

,Mode of Transport,Parking Fee,Electric Charging Fee Per Mile,Petrol Fee per mile
0,Electric Car,£0,£0.06,£0
1,Petrol Car,£20,£0,£0.04

## NOTES
#### 1. Another issue is that some columns have monetary values yet are stored as objects.
#### 2. I will remove the Euro symbol and convert the fields to floats.

In [35]:
# Store fields of x_costs_df in x_costs_df_cols
x_costs_df_cols = (list(x_costs_df.columns))[1:]

x_costs_df_cols

['Parking Fee', 'Electric Charging Fee Per Mile', 'Petrol Fee per mile']

In [25]:
# Initiate function to execute dropping of the '£' symbol
def drop_euro(col_list):
    # Iterate over the fields of x_costs DataFrame to drop the '£' symbol
    for i in col_list:
        x_costs_df[f'{i}']= x_costs_df[f'{i}'].str.replace('£', '').astype(float)

In [29]:
# Run the function
drop_euro(x_costs_df_cols)

In [31]:
# Verify '£' has been droped
x_costs_df

,Mode of Transport,Parking Fee,Electric Charging Fee Per Mile,Petrol Fee per mile
0,Electric Car,0.0,0.06,0.00
1,Petrol Car,20.0,0.00,0.04

In [37]:
# Inspect components of cleaned 'Extra Costs' df
x_costs_df.info()
x_costs_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Mode of Transport               2 non-null      object
 1   Parking Fee                     2 non-null      float64
 2   Electric Charging Fee Per Mile  2 non-null      float64
 3   Petrol Fee per mile             2 non-null      float64
dtypes: float64(3), object(1)
memory usage: 196.0+ bytes

,Mode of Transport,Parking Fee,Electric Charging Fee Per Mile,Petrol Fee per mile
0,Electric Car,0.0,0.06,0.00
1,Petrol Car,20.0,0.00,0.04

#### 1. The 'Extra Costs' DF is now clean!!

In [44]:
# Write the cleaned data into a csv file
x_costs_df.to_csv('../cleaned_datasets/Extra_Cost.csv', index=False)