In [3]:
import pandas as pd

## Import, inspect, and clean **the 2nd dataset: 'Fare_per_mile'**

In [22]:
# Load 'Fare_per_mile' into a DataFrame
fpm_df = pd.read_csv('../raw_datasets/Fare_per_mile dataset.csv', usecols=(['Mode of Transport', 'Fare_per_Mile']))

In [18]:
# Inspect components of the'Fare_per_mile' df
fpm_df.info()
fpm_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5 non-null      int64
 1   Mode of Transport  5 non-null      object
 2   Fare_per_Mile      5 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 252.0+ bytes

   Unnamed: 0 Mode of Transport  Fare_per_Mile
0           0             Train           0.54
1           1               Bus           0.04
2           2      Electric Car           0.09
3           3        Petrol Car           0.45
4           4              Walk           0.00

NOTES
1. The only cleaning that needs to be done here is dropping the additional index column.
2. I can do that by updating the pd.read_csv() function with 'usecols' parameter when loading the dataset.
3. It seems that all the datasets have an additional index column. As I go on, I will load them into dataframes and drop them using the usecols parameter.
4. Otherwise, this dataset seems clean.

In [24]:
# Inspect components of the'Fare_per_mile' df
fpm_df.info()
fpm_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Mode of Transport  5 non-null      object
 1   Fare_per_Mile      5 non-null      float64
dtypes: float64(1), object(1)
memory usage: 212.0+ bytes

  Mode of Transport  Fare_per_Mile
0             Train           0.54
1               Bus           0.04
2      Electric Car           0.09
3        Petrol Car           0.45
4              Walk           0.00

In [26]:
# Write 'Fare_per_mile' df into a .csv file
fpm_df.to_csv('../cleaned_datasets/Fare_per_mile.csv', index=False)